.home {
  display: flex;

  .homeContainer {
    flex: 6;

    .widgets,
    .charts {
      padding: 20px;
      display: flex;
      gap: 20px;
    }
    .charts {
      padding: 5px 20px;
    }
  }
}
